$bgcColor:rgb(239,255,255); // 背景颜色
$navBgcColor:rgb(181,193,193); // 导航背景颜色
$bgcColor_sider:rgb(234,245,228); // 侧边栏背景颜色
$titleFontColor:rgb(135,206,235); // 字体颜色
$fontColor:rgb(255,255,255); // 字体颜色
$footerBgcColor:rgb(114,114,114); // 底部背景颜色
$asideFontColor:rgb(213,253,157); // 侧边栏背景颜色
$titleHeader:rgb(158,147,153);// 字体颜色
$mainBgcColor:rgba(240,240,240,0.5); // main背景颜色
$adminCenterBgcColor:#FFFFFF; // 管理员中心背景颜色